body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    font-family: sans-serif;
}

.score {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(#999, #fff);
    background-clip: text;
    color: transparent;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1px;
    margin: 0 12px;

}

canvas {
    border: 2px solid #fff;
    border-radius: 5px;
}

.gameArea {
    display: flex;
    align-items: center;
}

#init {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.hint {
    color: rgba(255, 0, 0, 0.8)
}

#restart-btn {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    transform: all 0.3s ease;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 15px;
    padding: 20px;
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: cneter;
    align-items: cneter;
    text-align: center;
    border-radius: 10px;
}