body {
    text-align: center;
    background-color: gray;
    font-family: sans-serif;
}

.main {
    text-align: center;
    margin: 30px;
}

h1,
p {
    color: white;
    text-align: center;
}

button {
    margin: 10px;
    padding: 0;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

button:active {
    background-color: rgb(200, 200, 200);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.95) translateY(6px);
}

.inline-counter {
    display: inline-block;
    margin: 10px 30px;
    padding: 10px;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
}

.init {
    width: 450px;
    margin: 0 auto;
    padding: 15px 0;
    border: 3px solid black;
    border-radius: 5px;
}

.result {
    width: 450px;
    margin: 0 auto;
    padding-top: 15px;
    border: 3px solid black;
    border-radius: 5px;
}


.inline-result {
    display: inline;
}

.focus {
    color: black;
    font-weight: bold;
}

.hidden {
    display: none;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.bounce {
    animation: bounce 0.5s ease;
}